<template>
  <div>
    <nav class="navbar navbar-expand-lg navbar-light header">
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <a class="navbar-brand" href="#">EKE Honfoglaló</a>
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <router-link class="nav-link" to="/">Home</router-link>
          </li>
          <li class="nav-item">
            <router-link class="nav-link" to="/about">About</router-link>
          </li>
          <li v-if="loggedIn" class="nav-item">
            <router-link class="nav-link" to="/profile">Profile</router-link>
          </li>
          <li v-if="loggedIn" class="nav-item">
            <router-link class="nav-link text-success" to="/game">Game</router-link>
          </li>
          <li v-if="Admin" class="nav-item">
            <router-link class="nav-link text-danger" to="/admin">Admin</router-link>
          </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
            <div class="collapse navbar-collapse" v-if="loggedIn">
                <button @click="logOut" class="btn btn-outline-primary">Log Out</button>
            </div>
            <div class="collapse navbar-collapse" v-else>
                <router-link class="nav-link" to="/login">Login</router-link>
                <nobr/>
                <router-link class="btn btn-outline-primary" to="/register">Register</router-link>
            </div>
        </form>
      </div>
    </nav>
    <router-view />
  </div>
</template>

<script>
import firebase from "firebase";
export default {
  async created(){
    firebase.auth().onAuthStateChanged(user => {this.loggedIn = !!user;})
    if(firebase.auth().currentUser) {
      const ref = firebase.firestore().collection('users').doc(this.user["email"]);
      const doc = await ref.get();
      this.Admin = doc.data()["role"] == "Admin";
    }
    
  },
  data() {
    return {
      loggedIn: '',
      Admin: '',
      user: firebase.auth().currentUser
    };
  },
  methods: {
    async logOut(){
      try {
        const data = await firebase.auth().signOut();
        this.$router.replace({name: "login"})
        console.log(data);
      }
      catch (error) {
        console.log(error);
      }
    }
  }
};
</script>

<style scoped>
.header{
  background-image: linear-gradient(to right, #6eb5ff, #fff5ba);
}
</style>