<template>
  <div class="info alert alert-warning text-left" role="alert">
      <h1>{{ title }}</h1>
      <slot></slot>
      <p>{{ message }}</p>
  </div>
</template>

<script>
export default {
    props:{
        title: String,
    },
};
</script>

<style scope>
h1{
    text-align: center;
}
.info{
  border: 1px solid #a36500;
}
</style>