<template>
  <div class="profile">
    <div class="alert alert-info" role="alert">
      Üdvözöllek {{ data["username"] }}!
    </div>
    <table class="table table-hover">
      <tbody>
        <tr>
          <th scope="row">Név</th>
          <td><input type="text" name="nev" id="nev" :value="data['nev']" disabled></td>
          <td class="modify" id="nevchangeicon" @click="change('nev')">🖊️</td>
        </tr>
        <tr>
          <th scope="row">Email</th>
          <td><input type="text" name="email" id="email" :value="user['email']" disabled></td>
          <td class="nomodify">⛔</td>
        </tr>
        <tr>
          <th scope="row">Email visszaigazolás</th>
          <td v-if="user['emailVerified']"><input type="text" value="✔️" disabled></td>
          <td v-else><input type="text" value="❌" disabled></td>
          <td class="nomodify">⛔</td>
        </tr>
        <tr>
          <th scope="row">Neptunkód</th>
          <td><input type="text" name="neptunkod" id="neptunkod" :value="data['neptunkod']" disabled></td>
          <td class="modify" id="neptunkodchangeicon" @click="change('neptunkod')">🖊️</td>
        </tr>
        <tr>
          <th scope="row">Jogosultság</th>
          <td><input type="text" :value="data['role']" disabled></td>
          <td class="nomodify">⛔</td>
        </tr>
        <tr>
          <th scope="row" colspan="3"><button v-on:click="FiokTorlese()" class="btn btn-danger">Fiók törlése</button></th>
        </tr>
      </tbody>
    </table>
    <br>
  </div>
</template>

<script>
import firebase from "firebase";
export default {
  async created() {
    const ref = firebase
      .firestore()
      .collection("users")
      .doc(this.user["email"]);
    const doc = await ref.get();
    this.data = doc.data();
  },
  data() {
    return {
      user: firebase.auth().currentUser,
      data: "",
    };
  },
  methods: {
    FiokTorlese(){
      firebase.firestore().collection("users").doc(this.user["email"]).delete();
      firebase.auth().currentUser.delete();
    },
    change(id){
      if(id == "nev"){
        if(document.getElementById("nevchangeicon").innerText == "🖊️"){
          document.getElementById(id).disabled = false;
          document.getElementById("nevchangeicon").innerText = "✔️";
          return;
        }
        if(document.getElementById("nevchangeicon").innerText == "✔️"){
          firebase.firestore().collection("users").doc(this.user["email"]).update({"nev": document.getElementById("nev").value});
          document.getElementById(id).disabled = true;
          document.getElementById("nevchangeicon").innerText = "🖊️";
        }
      }
      if(id == "email"){
        if(document.getElementById("emailchangeicon").innerText == "🖊️"){
          document.getElementById(id).disabled = false;
          document.getElementById("emailchangeicon").innerText = "✔️";
          return;
        }
        if(document.getElementById("emailchangeicon").innerText == "✔️"){
          document.getElementById(id).disabled = true;
          document.getElementById("emailchangeicon").innerText = "🖊️";
        }
      }
      if(id == "neptunkod"){
        if(document.getElementById("neptunkodchangeicon").innerText == "🖊️"){
          document.getElementById(id).disabled = false;
          document.getElementById("neptunkodchangeicon").innerText = "✔️";
          return;
        }
        if(document.getElementById("neptunkodchangeicon").innerText == "✔️"){
          firebase.firestore().collection("users").doc(this.user["email"]).update({"neptunkod": document.getElementById("neptunkod").value});
          document.getElementById(id).disabled = true;
          document.getElementById("neptunkodchangeicon").innerText = "🖊️";
        }
      }
    }
  },
};
</script>

<style scoped>
table {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid #dee2e6;
}
input{
  text-align: center;
}
.modify{
  cursor: pointer;
}
.nomodify{
  cursor: no-drop;
}
</style>