<template>
  <div class="container">
    <!-- <iframe src="https://games.gdevelop-app.com/game-65919c72-9239-4237-b33c-68b4828af003/index.html" width="800" height="600" frameborder="0">asd</iframe> -->
    <table class="table">
      <tbody>
        <tr>
          <td colspan="2">Kérdés</td>
        </tr>
        <tr>
          <td>Válasz1</td>
          <td>Válasz2</td>
        </tr>
        <tr>
          <td>Válasz3</td>
          <td>Válasz4</td>
        </tr>
      </tbody>
    </table>
    <div class="progress">
      <div
        class="progress-bar progress-bar-striped progress-bar-animated bg-success"
        role="progressbar"
        :aria-valuenow="timerCount"
        aria-valuemin="0"
        aria-valuemax="30"
        :style="{width: timerCount / 30 * 100 + '%'}"
      ><h3 class="center">{{timerCount}}</h3></div>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      timerCount: 30,
    };
  },

  watch: {
    timerCount: {
      handler(value) {
        if (value > 0) {
          setTimeout(() => {
            this.timerCount--;
          }, 1000);
        }
      },
      immediate: true, // This ensures the watcher is triggered upon creation
    },
  },
};
</script>

<style scoped>
.game {
  margin-top: 150px;
  border: black solid 1px;
}
.progress {
  height: 50px;
}
.progress-bar{
  text-align: right;
}
.center{
      margin: auto;
}
</style>