<template>
  <table class="align-self-center">
    <tr>
      <th colspan="2">Ranglista</th>
      <th><img src="../assets/point.png"></th>
    </tr>
    <tr :key="user" v-for="(user, index) in users  " class="first">
      <th>{{ index + 1 }}</th>
      <th>{{ user["username"] }}</th>
      <th>{{ user["point"] }}</th>
    </tr>
  </table>
</template>

<script>
import firebase from "firebase";
export default {
  async created() {
    const ref = firebase.firestore().collection("users");
    const doc = await ref.get();
    this.users = doc.docs.map((doc) => doc.data()).sort(
      function(a,b) {
        return b["point"] - a["point"];
      }
    );
  },
  data(){
    return{
      users: [],
    }
  },
};
</script>

<style scoped   >
.first{
  background-color: gold;
}
.second{
  background-color: silver;
}
.third{
  background-color: #cd7f32;
}
table {
  width: 30%;
  margin-left: auto;
  margin-right: auto;
  }
table, th, td {
  border: 2px solid black;
}
td{
    background: indigo;
    color: white;
}
</style>