<template>
  <div class="about">
    <br />
    <div class="profiles">
      <DevelopProfile
        facebook="https://www.fb.com/daniel0950"
        imagePath="/img/profiles/dani.jpg"
        developer="Kékedi Dániel"
        profession="Vue.js fejlesztő"
        >Friss diplomás Programtervező Informatikus.</DevelopProfile
      >
      <DevelopProfile
        facebook="https://www.fb.com/martin.lanyi1"
        imagePath="/img/profiles/martin.jpg"
        developer="Lányi Martin"
        profession="Project Manager"
        >??????????</DevelopProfile
      >
      <DevelopProfile
        facebook="about:blank"
        developer="XXX Tomi"
        profession="Project Koordinátor"
        >??????????</DevelopProfile
      >
    </div>
    <div class="profiles">
      <DevelopProfile
        facebook="https://www.fb.com/adam.kuborcik"
        imagePath="img/profiles/adam.jpg"
        developer="Kuborcik Ádám"
        profession="Vue.js fejlesztő"
        >Programtervező Informatikus.</DevelopProfile
      >
      <DevelopProfile
        facebook="https://www.fb.com/balint.anka.3"
        imagePath="img/profiles/balint.jpg"
        developer="Anka Bálint Kristóf"
        profession="Unity fejlesztő"
        >1. éves Programtervező Informatikus.</DevelopProfile
      >
      <DevelopProfile
        facebook="https://www.fb.com/100008219149033"
        imagePath="img/profiles/domonkos.jpg"
        developer="Juhász Domonkos"
        profession="Unity fejlesztő"
        >1. éves Programtervező Informatikus.</DevelopProfile
      >
    </div>
  </div>
</template>

<script>
import DevelopProfile from "../components/DevelopProfile";
export default {
  components: {
    DevelopProfile,
  },
};
</script>

<style scoped>
.profiles {
  display: flex;
  vertical-align: auto;
  justify-content: center;
  gap: 5%;
  margin-bottom: 20px;
}
</style>
