<template>
  <div v-if="role == 'Admin' ">
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">Felhasználónév</th>
          <th scope="col">Név</th>
          <th scope="col">Neptunkód</th>
          <th scope="col">Role</th>
          <th scope="col">Pontszám</th>
          <th scope="col">Művelet</th>
        </tr>
      </thead>
      <tbody>
        <tr :key="data" v-for="(data, index) in datas">
          <td>
            <input
              type="text"
              name="felhasznalonev"
              id="felhasznalonev"
              :value="data['username']"
              disabled
            />
          </td>
          <td>
            <input
              type="text"
              name="nev"
              id="nev"
              :value="data['nev']"
              disabled
            />
          </td>
          <td>
            <input
              type="text"
              name="neptunkod"
              id="neptunkod"
              :value="data['neptunkod']"
              disabled
            />
          </td>
          <td>
            <input
              type="text"
              name="role"
              id="role"
              :value="data['role']"
              disabled
            />
          </td>
          <td>
            <input
              type="text"
              name="point"
              id="point"
              :value="data['point']"
              disabled
            />
          </td>
          <td>
            <select v-model="selector2" id="operations" name="operations">
              <option value="def">-----</option>
              <option value="modify">Módosít</option>
              <option value="delete">Töröl</option>
              <option value="ban">Tilt</option>
              <option value="changeRole">Jog adás/elvétel</option>
            </select>
          </td>
          <td>
            <button v-on:click="feldolgoz(index)">Elvégez</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</template>

<script>
import firebase from "firebase";
//import * as admin from 'firebase-admin';
export default {
  async created() {
    const ref = firebase.firestore().collection("users");
    const ref2 = firebase.firestore().collection("users").doc(firebase.auth().currentUser.email);
    const doc = await ref.get();
    const doc2 = await ref2.get();
    this.role = doc2.data()['role']
    this.datas = doc.docs.map((doc) => doc.data());
  },
  data() {
    return {
      user: firebase.auth().currentUser,
      datas: "",
      role: "",
      index: 0,
      selectorlist: [],
    };
  },
  methods:{
    feldolgoz(index){
      const selector = document.getElementsByName("operations")[index];
      const selectedValue = selector.options[selector.selectedIndex].value;
      console.log(selectedValue);
      switch(selectedValue){
        case "def": 
          break;
        case "modify":
          break;
        case "delete":
          
          break;
        case "ban":
          break;
        case "changeRole":
          break;
      }
    }
  }
};
</script>

<style scoped>
input {
  text-align: center;
}
select {
  text-align-last:center;
}
</style>