<template>
  <div>
    <Quiz/>
  </div>
</template>

<script>
import Quiz from "../components/Quiz";
export default {
  components:{
    Quiz
  }
};
</script>

<style scoped>
.col-md-3 {
  border-color: #000000; 
}
</style>