<template>
  <div class="home">
    <div class="row">
      <div class="col-md-3">Left Container</div>
      <div class="col-md-6">
        <InfoBox title="Köszöntő">
          <p>Üdvözöllek az Eszterházy Károly Egyetem Honfoglalóján!</p>
          <p>Lépj be, ha még nem regisztráltál, regisztrálj! :)</p>
        </InfoBox>
      </div>
      <div class="col-md-3 corner">
        <Scoreboard />
      </div>
    </div>
  </div>
</template>

<script>
// @ is an alias to /src
import InfoBox from "../components/InfoBox";
import Scoreboard from "../components/Scoreboard";
export default {
  name: "Home",
  components: {
    Scoreboard,
    InfoBox,
  },
};
</script>

<style scoped>
.row {
  margin: 0px;
  height: 100%;
}
.col-md-3 {
  border: 2px solid #000;
}

</style>