<template>
  <div class="container">
    <h1>Lépj be a honfoglalóba!</h1>
    <br />
    <br />
    <div class="row">
      <div class="col-md-3">Left Container</div>
      <div class="col-md-6">
        <div v-if="notify" class="alert alert-danger">
          {{ notify }}
        </div>
        <form>
          <div class="form-group">
            <input
              type="text"
              class="form-control"
              id="email"
              placeholder="Email"
              v-model="email"
            />
          </div>
          <div class="form-group">
            <input
              type="password"
              class="form-control"
              id="exampleInputPassword1"
              placeholder="Jelszó"
              v-model="password"
            />
          </div>
          <div class="form-group">
            <input
              type="text"
              class="form-control"
              id="neptunkod"
              placeholder="Neptunkód"
            />
          </div>
        </form>
        <button tag="button" @click="login" class="btn btn-primary">Login</button>
      </div>
      <div class="col-md-3">Right Container</div>
    </div>
  </div>
</template>

<script>
import firebase from "firebase";
export default {
  name: "login",
  data() {
    return {
      email: "",
      password: "",
      notify: "",
    };
  },
  methods: {
    async login() {
      try {
        const val = await firebase.auth().signInWithEmailAndPassword(this.email, this.password);
        console.log(val);
        this.$router.replace({name: "game"});
      } catch (error) {
        this.notify = error;
        console.log(error);
      }
      
    }
  }
};
</script>

<style scoped>
.col-md-3 {
  border: 2px solid #000;
}
</style>
