<template>
<div class="container">
  <ProfileDetails/>
  <InfoBox title="Információ" >
    <p>Ha szerkeszteni akarsz kattincs a 🖊️-ra.</p>
    <p>Sajnos, nincs jogod szerkezteni a ⛔ ellátott mezőket.</p>
    <p>
      Sikeresen módosítottad a mezőt? akkor nincs más dolgod mint a ✔️-ra
      kattintani.
    </p>
  </InfoBox>
</div>

</template>

<script>
import ProfileDetails from "../components/ProfileDetails";
import InfoBox from "../components/InfoBox";
export default {
  components:{
    ProfileDetails,
    InfoBox,
  }
};
</script>

<style scoped>
.col-md-3 {
  background-color: #ddd;
  border-color: #aaa; 
}
</style>
