<template>
  <div class="container">
    <h1>Regisztrálj a honfoglalóba!</h1>
    <div class="row">
        <div class="col-md-3">Left Container</div>
      <div class="col-md-6">
        <div v-if="this.error" class="alert alert-danger">
          {{error}}
        </div>
        <form>
          <div class="form-group">
            <input
              type="text"
              class="form-control"
              id="firstname"
              placeholder="Vezetéknév"
              v-model="firstname"
            />
          </div>
          <div class="form-group">
            <input
              type="text"
              class="form-control"
              id="lastname"
              placeholder="Keresztnév"
              v-model="lastname"
            />
          </div>
          <div class="form-group">
            <input
              type="text"
              class="form-control"
              id="username"
              placeholder="Felhasználónév"
              v-model="username"
            />
          </div>
          <div class="form-group">
            <input
              type="text"
              class="form-control"
              id="email"
              placeholder="Email"
              v-model="email"
            />
          </div>
          <div class="form-group">
            <input
              type="password"
              class="form-control"
              id="exampleInputPassword1"
              placeholder="Jelszó"
              v-model="password"
            />
          </div>
          <div class="form-group">
            <input
              type="text"
              class="form-control"
              id="neptunkod"
              placeholder="Neptunkód"
              v-model="neptunkod"
            />
          </div>
        </form>
        <button @click="register" class="btn btn-primary">Register</button>
        <button @click="torles" class="btn btn-danger"> Adatok törlése </button>
      </div>
        <div class="col-md-3">Right Container</div>
    </div>
  </div>
</template>

<script>
import firebase from "firebase";
export default {
  data() {
    return {
      email: "",
      password: "",
      error: "",
      neptunkod: "",
      firstname: "",
      lastname: "",
      username: "",
      point: "",
    };
  },
  methods: {
    torles(){
      this.email = null;
      this.neptunkod = null;
      this.firstname = null;
      this.password = null;
      this.lastname = null;
      this.username = null;
    },
    async register() {
      var e = this.email;
      var n = this.neptunkod;
      var f = this.firstname;
      var p = this.password;
      var l = this.lastname;
      var u = this.username;
      
      if(!this.validateEmail()){
         this.error = "Hibás emailcím!";
      }
      if(u.length < 6){
         this.error = "A felhasználónévnek hosszabbnak kell lennie 5 karakternél!";
      }
      else if(n.length !=6){
         this.error = "A neptunkód 6 karakterből áll!";
      }
      else if(p.length < 6){
         this.error = "A jelszónak minimum 6 karakterből kell állnia!";
      }
      else{
        firebase
        .auth()
        .createUserWithEmailAndPassword(this.email, this.password)
        .then(function (data) {
          const ref = firebase.firestore().collection("users");
          //+ mezők hozzáadása
          const userSetting = {
            role: "Player",
            neptunkod: n,
            nev: f + " " + l,
            username: u,
            point: 0,
            uid: data.user.uid,
          };
          ref.doc(e).set(userSetting);
          data.user.sendEmailVerification();
        });
      }
    },
    validateEmail(){
        if (/^\w+([.-]?\w+)@\w+([.-]?\w+)(.\w{2,3})+$/.test(this.email)) return true;
        else return false;
      }
  },
};
</script>

<style scoped>
.col-md-3 {
  border: 2px solid #000;
}
</style>
