<template>
  <div id="app" class="app">
    <Header></Header>
  </div>
</template>

<script>
import Header from "./components/Header"
export default {
  components: {
    Header
  }
};
</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}
#nav {
  padding: 30px;
}

#nav a {
  font-weight: bold;
  color: #2c3e50;
}

#nav a.router-link-exact-active {
  color: #42b983;
}
body{
  background-image: url('./assets/background/image.jpg');
  background-repeat: no-repeat;
  background-position: center top;
  background-size: 100%;
}
</style>
